.container {
  display: flex;
  flex-direction: row; /* Change to column for smaller screens */
  align-items: flex-start; /* Center items horizontally */
  margin-top: 3em;
  gap: 5em;
}

.section {
  width: 80%;
   /* Center text */
}

.devHome {
  color: var(--color-white);
  font-size: 3em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}

.homeSpan {
  font-size: 48px;
  color: var(--color-secondary);
}

.section_head {
  font-size: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: var(--color-white);
  margin-block: 1em;
}

.section_p {
  color: var(--color-white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0.5em 1em 1em 2em;
  font-weight: bold;
}

.imgcon {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  width: 100%;
}

.image {
  width: 100%;
}

.home_link {
  color: white;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  padding: 0.5em;
  width: 16em;
  background-color: var(--color-white);
  color: var(--color-black);
  text-decoration: none;
  border-radius: 10px;
  margin-top: 2em;
  transition: var(--transition);
}

/* Media Query for smaller screens */
@media screen and (max-width: 1000px) {
  .container {
    margin-top: 1em;
    flex-direction: column;
  }
  
  .section {
    width: 90%;
    text-align: center;
  }
  
  .homeSpan {
    font-size: 36px;
  }
  
  .section_head {
    font-size: 32px;
    margin-block: 0.5em;
  }
  
  .section_p {
    font-size: 16px;
  }
  
  .home_link {
    font-size: 24px;
    width: 12em;
    margin-top: 1em;
  }
}

/* Media Query for even smaller screens */
@media screen and (max-width: 600px) {
  .homeSpan {
    font-size: 24px;
  }
  
  .section_head {
    font-size: 24px;
  }
  
  .home_link {
    font-size: 20px;
    width: 10em;
  }
}
