.otpCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    border: 3px solid white;
    border-radius: 15px;
    width: 40%;
    margin: auto;
    margin-top: 3em;
}

.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
  }
    
  .form input{
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid white;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 1em;
  }
    
.input_otp{
    text-align: start;
    color: var(--color-white);
    padding: 10px;
    border-radius: 10px;
    width: 6em;
    margin-top: 1em;
    font-size: 16px;
    font-weight: bold;
}

.buttoncon{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    margin-top: 1.5em;
}

.resend{
    padding: 20px;
      cursor: pointer;
      background-color: var(--color-black);
      color: var(--color-white);
      font-weight: bold;
      /* border: none; */
      border-radius: 5px;
      width: 10em;
}


@media screen and (max-width: 1000px){
  .otpCon{
    width: 75%;
  }

  .form{
    width: 90%
  }
}

@media screen and (max-width: 600px){
  .otpCon{
    width: 95%;
  }

  .resend{
    width: 8em;
    padding: 10px;
    font-size: 16px;
  }

  .form{
    width: 95%
  }

  .buttoncon{
    justify-content: space-around;
  }
}